@use "./styles/partials/breakpoints" as *;
@use "./styles/partials/mixins" as *;

* {
  font-family: monospace;
  box-sizing: border-box;
  background-color: #383838;
  margin: 0 auto;
  max-width: 1920px;
  color: white;
  line-height: 2rem;
}

a {
  margin: 0;
}
