@use "./styles/partials/breakpoints" as *;
@use "./styles/partials/mixins" as *;

.hero {
  padding-bottom: 1.5rem;

  .container {
    padding: 1rem 1.5rem;

    @include tablet {
      padding: 1rem 2.5rem;
    }

    @include desktop {
      padding: 1.5rem 7rem;
    }
  }

  .title {
    margin-bottom: 1rem;
    font-size: 1.4rem;

    @include tablet {
      font-size: 2.5rem;
      margin: 0 0 2.5rem 0;
    }

    @include desktop {
      font-size: 3rem;
      width: 100%;
    }
  }

  .tabletContainer {
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  .textWrapper {
    @include tablet {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-self: center;
    }

    @include desktop {
      width: 50%;
    }
  }

  .name {
    letter-spacing: 0.2rem;
  }

  .image {
    width: 50%;
    border-radius: 25px;
    margin: 0;

    @include tablet {
      width: 60%;
    }

    @include desktop {
      width: 70%;
      height: 30rem;
    }
  }

  .subtitle {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #f1c43e;
    @include tablet {
      font-size: 2.5rem;
      margin: 0 0 1rem 0;
    }

    @include desktop {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }

  .imageWrapper {
    display: flex;
    gap: 1rem;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 45%;
      gap: 0;
    }
  }

  .description {
    align-self: center;

    @include tablet {
      display: none;
    }
  }

  .descriptionTablet {
    display: none;

    @include tablet {
      display: inline-block;
      margin: 0 0 1rem 0;
      font-size: 1rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  .letter {
    width: 10%;
    margin: 0;
    background: white;
  }

  .emailWrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background: white;
    width: 80%;
    padding: 0.5rem;
    border-radius: 10px;

    @include tablet {
      display: none;
      width: 0;
    }
  }

  .emailWrapperTablet {
    display: none;

    @include tablet {
      margin: 1rem 0 0 0;
      display: flex;
      justify-content: center;
      gap: 1rem;
      background: white;
      padding: 0.5rem;
      border-radius: 10px;
    }
    @include desktop {
      margin: 0;
      align-self: flex-start;
    }
  }

  .email {
    color: black;
    background: white;
    font-family: monospace;
    margin: 0;
    align-self: center;
  }
}
